@using System.Collections.Generic
@using System.Diagnostics.CodeAnalysis
@using Microsoft.JSInterop
@using Ticky.Web.Components.Elements.SmartVirtualize

@inject IJSRuntime JS

@typeparam T where T : AbstractDbEntity

<div id="@Id" class="@Class" style="@Style">
    @if (Items is not null && SortableItemTemplate is not null)
    {
        <SmartVirtualize Items="Items" Context="item" ItemSize="110" OverscanCount="4">
            <ItemContent>
                <div @key="@item.Id">
                    @SortableItemTemplate(item)
                </div>
            </ItemContent>
        </SmartVirtualize>
    }
    else
    {
        <div>Error: The list of items is null</div>
    }
</div>


